<div class="container mt-5 new-container">
  <div class="card card-body">
    <h1 class="text-center mt-3">Edit Expense</h1> 
    {{> message}}
    <form action="/records/{{record._id}}?_method=PUT" method="POST">
      {{> record-form}}     
    </form>
  </div>
</div>

<script src="/scripts/new.js"></script>