<div class="text-center mt-5 w-50 mx-auto">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{danger_msg}}
  </div>
  <a href="/" class="btn btn-back btn-outline-light mt-4">Back To Homepage</a>
</div>