<div class="container mt-5 login-container">
  <div class="card card-body">
    <h1 class="text-center mt-3">Reset Your Password</h1> 
    {{> message}}
    <form action="/auth/forgot-password" method="POST">
      <div class="my-3">
        <label for="email" class="mb-2"><span class="text-danger">*</span> Please enter the email you registered before</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="your@email.com" required value="{{email}}">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary mt-2">Send Password Reset Email</button>
      </div>
    </form>
    <hr class="mt-4">
    <p>
      No Account? <a href="/users/register">Register</a>
    </p>
  </div>
</div>