<div class="container mt-5 new-container">
  <div class="card card-body">
    <h1 class="text-center mt-3">Create Expense</h1> 
    {{> message}}
    <form action="/records" method="POST">
      {{> record-form}}       
    </form>
  </div>
</div>

<script src="/scripts/new.js"></script>
<script>
  setDateDefaultValue()
</script>